.App {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  max-width: 700px;
  margin: auto;
  flex:1;
  color: aliceblue;
  background-color:transparent;
}
.top-bar-dark{
  display: flex;
  position: absolute;
  width: -webkit-fill-available;
  justify-content: space-between;
  color: #777777;
  z-index: 1;
  padding: 10px;
}

.top-bar-light{
  display: flex;
  position: absolute;
  width: -webkit-fill-available;
  justify-content: space-between;
  color: #EB9B58;
  z-index: 1;
  padding: 10px;
}
.blur{
  padding: 20px;
  backdrop-filter: blur(20px)  brightness(150%)  saturate(140%);
  background-color: #69696973;
  border-radius: 20px;
  box-shadow: 0 0 3px #00000027;
}
.button{
  border: none;
  color: grey;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  z-index: 5;
}