.App {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  max-width: 700px;
  margin: auto;
  flex:1;
  color: aliceblue;
  background-color:transparent;
}
.button{
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  border: none;
  background-color: '#ffffff66';
  font-size: 22px;
  font-weight: 500;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 20px;
  color: '#aaa';
}
.button:hover  {
box-shadow: 0 10px 10px #00000055;
transition-duration: 400ms;
}