.App {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  max-width: 700px;
  margin: auto;
  flex:1;
  color: aliceblue;
  background-color:transparent;
}
.top-bar{
  display: flex;
  justify-content: space-between;
}
.button{
  border: none;
  color: grey;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  z-index: 5;
}
.signout:before {
  content: url(./icons/music.svg);
  width: 20px;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}