.Question {
    font-size: 44px;
    font-weight: 500;
    min-height: 30vh;
  }
  .StoryPage {
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding-top: 10vh;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
  }
  .image {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    left: 0;
  }
  