
.Question-dark {
    color: ghostwhite;
  }
  .Questions {    
    font-size: 10vw;
      font-weight: 500;
      margin-bottom: auto;
      padding-top: 1em;
      text-align: left;
      margin: 20px;
      font-family: 'DM Sans', sans-serif;
    }
  .Question-light {
      color: #aaaaab;
    }
    .StoryPage{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
  .StoryPage-dark {
    background-color: #283333;
  }
  .StoryPage-light {
    background-color: #FFFFFF;
  }
.options{
  margin-top: auto;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.image-holder{
  max-height: 57%;
  display: grid;
}
.Link{
  min-width: 60vw;
}
.StoryPage-gallery {
  position: relative;
}
.StoryPage-fullScreen {
  position: fixed;
}
.image-fullScreen {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  height: 100%;
  background-size: cover;
  /* filter: brightness(50%)  saturate(110%); */
  /* animation: zoominoutsinglefeatured 100s forwards; */
}
  .image-gallery {
    grid-area: 1 / 1;
    z-index: -1;
    max-height: 57%;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px 20px 20px 20px;
    overflow-y: auto;
    /* filter: brightness(50%)  saturate(110%); */
    /* animation: zoominoutsinglefeatured 100s forwards; */
  }
  @keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}
.image-bottom{
  filter: blur(20px);
}
  .fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in 1000ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 1;
    transition: opacity 1000ms ease-out 1000ms;
}
.fade-exit-done {
  opacity: 0;
}

/* blink animation */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
.effect-neonBlink {

  font-size: calc(20px + 4vh);
  line-height: calc(20px + 8vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
/* blink animation */

/* neon button */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
.neon-button-dark{
  background: #394848;
}
.neon-button{
  font-size: 6vw;
  color: white;
  /* text-shadow: 5px 5px 30px blue; */
  font-family: 'Quicksand';
  font-weight: lighter;
  text-align: center;
  height: 3em;
  width: auto;
  display: flex;
  margin-left: 2pt;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 11px;
  margin: 0.5em;
}
.neon-button-light{
  background: #EB9B58;
}
@keyframes repeat {

  0% {color: lightblue; text-shadow: 5px 5px 30px lightblue;}
  20% {color: #45aaf2; text-shadow: 5px 5px 30px  #45aaf2;}
  40% {color: #2d98da; text-shadow: 5px 5px 30px  #2d98da;}
  60% {color: #4b7bec; text-shadow: 5px 5px 30px  #2d98da;}
  80% {color: #000000; text-shadow: 5px 5px 30px  #000000;}
  100% {color: lightblue; text-shadow: 5px 5px 30px  lightblue;}

}

/* neon button */
.reset{
  color: #fff;
  border-radius: 15px;
  font-family: 'DM Sans';
  width:40vw;
  font-size: large;
  text-align: center;
}